.blog-section {
    padding: 4rem 2rem;
    background: #000000;
    background-color: var(--bg-color);
  color: var(--text-color);
  }
  .blog-section h2 {
color: rgb(0, 0, 0);


  }
  .blog-section h3, p {
color: #000000;
}

.dark-mode .blog-section h2, h3, p {
color: aliceblue;
}
  
  .blog-grid {
    display: flex;
    flex-wrap: wrap;
    gap: 2rem;
  }
  
  .blog-card {
    background: rgb(36, 36, 36);
    padding: 1.5rem;
    border-radius: 10px;
    flex: 1;
    min-width: 250px;
  }

  .blog-card h3 {
    color: white;
  }
  
  .dark-mode .blog-card h3, p {
    color: white;
  }